.side-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.links a{
    text-decoration: none;
    /* color: #FCAF45 */
    color: #444444;
}